[Unit]
Description=Yammat Stream Logger
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=pi
ExecStart=/usr/bin/node /home/pi/logger/index.js
Restart=always

[Install]
WantedBy=multi-user.target